@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom colors */
:root {
  --color-azul-suave: #3983FA;
  --color-laranja-vivo: #F46A35;
  --color-cinza-escuro: #202020;
}

body {
  background-color: var(--color-cinza-escuro);
  color: white;
}

.table th, .table td {
  border-color: var(--color-laranja-vivo) !important;
}

.table th {
  background-color: var(--color-azul-suave) !important;
}

.table thead th {
  color: #FFFFFF !important;
}

.table tbody tr {
  background-color: var(--color-cinza-escuro);
  color: #FFFFFF;
}

.table tbody tr td, .table tbody tr th {
  color: #FFFFFF;
}

.text-center {
  color: #FFFFFF;
}
